<footer class="foot-color red-back" scrolladdclass>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center">Copyright © 2017 Alpha Plastomers</p>
            </div>
            <div class="col-sm-4">
                <h4 class="text-center color-white">A Kamal Agarwal Group</h4>
                <!-- <div class="social-icon al-list text-center">

                  <div class="foot-triangle">
                    <span>  <a href="https://www.facebook.com/alphaplastomers/" target="_blank"> <i class="fa fa-facebook"></i> </a></span>
                  </div>
                  <div class="foot-triangle1">
                    <span> <a href="https://www.linkedin.com/company/alpha-group-india" target="_blank"> <i class="fa fa-linkedin"></i> </a></span>
                  </div>

                </div> -->
            </div>
            <div class="col-sm-4">
                <div class="pull-right">
                    <p>Designed by <a href="http://ting.in/" target="_blank">TING</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
