<div class="about-us">
  <div class="banner">
  <img src="img/about/aboutus.jpg" alt="" class="img-responsive ban-full">
  <!-- <img src="img/banner-ribbon.png" alt="" class="img-responsive banner-rib hidden-xs"> -->
  </div>
  <div class="container">
  <div class="content-sec">
    <h1 class="text-up font-revelution text-head ft-40">COMPANY PROFILE</h1>
    <p>Through the last 35 competitive years, Alpha Plastomers has consistently innovated in the plastics packaging sector. We became the first Indian company to offer flexible and rigid packaging solutions as we constantly evolved by replacing products and meeting the needs of time. Our clientele includes FMCG Companies, Electronics, Frozen Foods, Cosmetics and many more in domestic as well as international markets. In addition to manufacturing, the Alpha group offers in-house design and engineering services and possesses custom tooling capabilities. We have become one of India’s leading packaging solutions provider for the primary and secondary packaging industry.</p>
    <p>At Alpha, we strive to build a place where people can discover innovative packaging solutions that exceed the expectations of all stakeholders. We work to earn the respect and loyalty of our customers by adding value to their business, improve the community that we live in and encourage our employees to give their best, leading to higher results. </p>
    <div class="row pdt-40">
      <div class="col-md-6">
        <div class="abt-img1"><img src="img/about/level2.png" alt="" class="img-responsive"></div>
      </div>
      <div class="col-md-6">
        <div class="abt-img1"><img src="img/about/level1.png" alt="" class="img-responsive"></div>
      </div>
    </div>
    <p>Established in 1980 by Mr. Kanhaiyalal Agarwal, Alpha Polytechno, as it was known then, benefited from being in the middle of the textile hub in India. With PVC being used widely in the industry, Alpha saw an opportunity to change the industry standard by introducing Polypropylene Tubular Quench (PPTQ) film because of its clarity and strength. With the first plant in Mr. Agarwal’s basement in a small village called Navsari (about 200 km north of Mumbai), a capacity of about 10 MT per month was installed.</p>
    <p>In 1984, due to limited space and resources, the plant was relocated to Daman (about 125 km north of Mumbai) with the name being changed to Alpha Polymer. With a larger space of 1500 square meters, Alpha Polymer could process about 4,200 MT of polymer annually by 1996, making it the single largest process of PPTQ in India.</p>
    <p>
    In 1996, Alpha Polymer was offering not only PPTQ, but also Polyethylene (PE) bags and liners to industries including but not limited to, textile, stationary, and household goods. Mr. Agarwal’s vision of making Alpha Polymer the largest processor of polymer materials in Asia called for the plant to relocate to a four-acre Alpha Industrial Park, where the facility still exists.
    </p>
    <p>By 2004, Alpha Polymer became Alpha Plastomers Pvt. Ltd. and was processing about 2,000 MT of polymers every month, making it the largest PPTQ converter in Asia. This tremendous growth allowed Alpha Plastomers to diversify and add PET bottles to its portfolio for rigid packaging. Alpha Plastomers was the first Indian company to provide solutions for flexible and rigid packaging.</p>
    <p>With this unique advantage, Alpha Plastomers used its resources to provide rigid packaging solution to Pharmaceutical industry and in the process, converting the industry from glass to plastics. Today, Alpha Pharma Roorkee (div. of Alpha Plastomers) is manufacturing over 9 million PET bottles annually in various shapes and sizes with volumes ranging from 10 ml to 1000 ml. With constant innovation in rigid packaging, Alpha Plastomers is constantly pushing the limits of technology to offer an even wider range of products for every industry.</p>
    <p>As Alpha was diversifying and expanding its PET business, in 2006, Alpha introduced Polyolefin (POF) shrink film and thus became the first Indian company to manufacture shrink film using double-bubble blown film process. As it had done throughout its existence, Alpha introduced India to a better alternative to existing product (in this case, PVC shrink film) and change the packaging industry landscape.</p>
    <p>Innovation and diversification does not stop at Alpha and in keeping with that tradition, Alpha introduced, for the very first time, a non-packaging product, Agricultural Mulch Film.</p>
    <p>At Alpha, we are driven by our vision, set out over 25 years ago, by our founders to continually innovate and improve our products and services.</p>
  </div>
  </div>
<div class="black-holder">
  <img src="img/black-ribbon.png" alt="" class="img-responsive black-rib hidden-xs">
  <div class="black-sec">
    <div class="container-fluid">
      <div class="vis-mis">
    <img src="img/comma1.png" alt="" class="img-responsive black-comma hidden-xs">
      <h1 class="vis-head text-up font-revelution text-head ft-40">VISION - MISSION</h1>
      <p>
        Our vision is to build a place where people can discover innovative packaging solutions which exceed the expectations of all stakeholders.
      </p>
      <p>We live by this vision by conducting business with integrity, building long-lasting relationships, and providing innovative products with a quality that exceeds the customer's expectations.</p>
      <p>Our primary objectives are to earn the customer's respect and loyalty by adding value to their business, achieving sufficient profit to finance growth and improve the community that we live in and commit to our employees by promoting and rewarding on a performance basis.</p>
      </div>
    </div>
  </div>
</div>
  </div>
