<div class="pof bags-liners">
	<div class="banner">
		<img src="img/ppe/bags.jpg" alt="" class="img-responsive ban-full">

	</div>
	<div class="red-sec">
		<div class="container">
			<div class="careers-sec">
				<div class="row">
					<div class="col-md-6 col-xs-12">
						<div class="list-cont">
							<h3 class="text-up text-mob">Polypropylene (PP)<br>Product Details</h3>
							<ul class="list-unstyed">
								<li><div class="pp-write">Bags &amp; tubing in 100 to 900 mm width</div></li>
								<li><div class="pp-write">Thickness ranges from 20 to 150 microns</div></li>
								<li><div class="pp-write">Easy accessibility</div></li>
								<li><div class="pp-write">High clarity (>98%)</div></li>
							</ul>
						</div>
					</div>
					<div class="col-md-6 col-xs-12">
						<div class="list-cont pull-right list-alignment">
					<div class="list-right">
								<h3 class="text-mob">Polyethylene (LLDPE/HM-HDPE)<br>Product Details</h3>
						<ul>
							<li><div class="pp-write">Bags &amp; tubing in 125 to 1100 mm width</div></li>
							<li><div class="pp-write">Thickness ranges from 10 to 100 microns</div></li>
							<li><div class="pp-write">High tensile strength even at 10 microns</div></li>
							<li><div class="pp-write">Improved impact properties</li>
					</div>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="policy-sec">
			<!--section-left-->
			<div class="row">
				<div class="col-md-6 border">
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<div>
								<h3 class="policy-head">Quality Policy</h3>
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<img src="img/ppe/img-1.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">ISO 9001:2015 Certified facility</p>
							</div>
						</div>
					</div>
					<div class="row bdb2">
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<img src="img/ppe/img-2.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">FDA Approved, virgin raw material used for all production</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<img src="img/ppe/img-3.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">Random sampling to ensure consistent properties</p>
							</div>
						</div>
					</div>
				</div>
				<!--section-right-->
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6 hidden-xs hidden-sm">
							<div class="grid-sec">
								<img src="img/ppe/img-4.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">Product available as bags, liners &amp; film</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<h3 class="policy-head1">Value Addition</h3>
							</div>
						</div>
						<div class="col-md-6 visible-xs col-xs-6 visible-sm">
							<div class="grid-sec">
								<img src="img/ppe/img-4.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">Product available as bags, liners &amp; film</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<img src="img/ppe/img-5.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">Flexo-graphic printing, up to 6 colors</p>
							</div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="grid-sec">
								<img src="img/ppe/img-6.png" alt="" class="img-responsive policy-icons">
								<p class="text-center p-txt">Bags available with a flap and seal tape</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="sec-1">
				<h3>QUALITY POLICY</h3>
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>ISO 9001:2008 Certified facility</span>
				</div>
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>FDA approved, virgin raw material used for all production</span>
				</div>
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>Random sampling to ensure consistent properties</span>
				</div>
			</div>
			<div class="sec-2">
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>Product available as bags, liners & film</span>
				</div>
				<h3>VALUE ADDITION</h3>
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>Flexo-graphic printing, up to 4 colors</span>
				</div>
				<div class="option-block">
					<img src="" alt="" class="img-responsive">
					<span>Bags available with flap and seal tape</span>
				</div>
			</div>-->
		</div>
	</div>
	<div class="petslider">
			<img src="img/black-ribbon.png" alt="" class="img-responsive test-banner hidden-xs">
			<div class="container">
			<div class="gallery-holder pd-41">
				<h2 class="text-center text-up font-revelution text-head color-red ft-40">GALLERY</h2>
				<div class="gal">
					<div class="slider1 hidden-xs">
						<flex-slider flex-slide="item in imageslider track by $index" animation="slide"  sync="#carousel" slideshow="true" slider-id="slider">
								<li>
										<img ng-src="{{item.image}}" alt="">
								</li>
						</flex-slider>
					</div>

<!-- mobile-slider -->
					<div class="slider1 visible-xs">

							<flex-slider flex-slide="item in imageslider track by $index" animation="slide" animationloop="true" slideshow-Speed="3000">
								<li>
										<img ng-src="{{item.image}}" alt="">
								</li>
						</flex-slider>
					</div>



						<!-- <a href="img/PP,PE.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure-mob">Download Brochure</button></a> -->
						<div class="text-center pdt10 visible-xs visible-sm">
								<a href="img/pdf/PP,PE.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure btn-part1 text-up">Download Brochure</button></a>
						</div>
<!-- carousel -->
						<div class="slider2 hidden-xs">


						<flex-slider flex-slide="item in imagethumb track by $index" animation="slide" item-width="228" item-margin="5" animationloop="true" move="1" slideshowSpeed=1000 direction-Nav="false" control-Nav="false" as-Nav-For="#slider" slider-id="carousel" slideshow="false">
								<li>
										<img ng-src="{{item.image}}" alt="">
								</li>
						</flex-slider>

</div>
				</div>
			</div>
		</div>
	</div>
	<div class="testimonial-sec">
		<img src="img/black-ribbon1.png" alt="" class="img-responsive test-banner hidden-xs">
		<div class="container">
			<div class="profile-desc">
				<img src="img/comma.png" alt="" class="img-responsive test-comma hidden-xs">
				<h2 class="text-center text-up font-revelution text-head color-red ft-40">TESTIMONIALS</h2>
				<flex-slider flex-slide="item in flexprofile track by $index"  item-margin="0" slideshow= "false">
					<li>
						<div class="row pd100">
							<div class="col-md-3">
								<div class="profile-img">
									<img ng-src="{{item.image}} " alt=" " class="img-responsive ">
								</div>
							</div>
							<div class="col-md-8">
								<div class="profile-box">
									<div class="profile-info">
										<p class="prof-desc">{{item.desc}}</p>
										<h4>{{item.name}}</h4>
										<p class="company">{{item.company}}</p>
										<p class="location">{{item.location}}</p>
									</div>
								</div>
							</div>
						</div>
					</li>
				</flex-slider>
			</div>
		</div>
	</div>
	<div class="enquiry-form">
		<a href="img/pdf/PP,PE.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure hidden-xs">Download Brochure</button></a>
		<div class="container">
			<div class="enquiry-sec text-center pdt-40">
				<h2 class="text-up font-revelution text-head color-red ft-40">ENQUIRE NOW</h2>
				<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<form class="form-sec" ng-submit="sendEmail(bagcontactus);">
																<div class="row">
																		<div class="col-md-8 col-md-offset-2">
																				<div class="form-group">
																						<input type="text" class="form-control" ng-model="bagcontactus.name" id="name" placeholder="Enter Name" aplha-only required>
																				</div>
																		</div>
																</div>
																<div class="row">
																		<div class="col-md-4  col-md-offset-2">
																				<div class="form-group">
																						<input type="email" class="form-control" ng-model="bagcontactus.email" id="email" placeholder="Enter Email" required>
																				</div>
																		</div>
																		<div class="col-md-4">
																				<div class="form-group">
																						<input type="tel" class="form-control"  id="mobile" ng-model="bagcontactus.mobile" placeholder="Mobile Number" minlength="10" maxlength="10"  only-digits required>
																				</div>
																		</div>
																</div>
																<div class="row">
																		<div class="col-md-4 col-md-offset-2 col-xs-12 col-pd">
																				<div class="form-group" >
																						<div class="radio rad-sec">
																								<label class="pull-left"><input type="radio" ng-model="bagcontactus.enquiryFor" ng-value="'PP/PE Liners'" name="optradio" class="" required>PP/PE Liners</label>
																								<label class="pull-right lbl2"><input type="radio" ng-model="bagcontactus.enquiryFor" ng-value="'POF Shrink Film'" name="optradio" class="" required>POF Shrink Film</label>
																						</div>
																				</div>
																		</div>
																		<div class="col-md-4 col-xs-12 col-pd">
																				<div class="form-group">
																						<div class="radio rad-sec">
																								<label class="pull-left"><input type="radio" ng-model="bagcontactus.enquiryFor" ng-value="'PET Bottles'" name="optradio" class="" required>PET Bottles</label>
																								<label class="pull-right lbl2"><input type="radio" ng-model="bagcontactus.enquiryFor" ng-value="'Speciality Films'" name="optradio" class="" required>Speciality Films</label>
																						</div>
																				</div>
																		</div>
																</div>
																<div class="row">
																		<div class="col-md-8 col-md-offset-2">
																				<div class="form-group">
																						<input type="text-area" ng-model="bagcontactus.message" class="form-control" id="message" placeholder="Message" required>
																				</div>
																		</div>
																</div>
																<div class="submit-sec text-center">
																		<button type="submit" class="btn btn-default sub-btn" >Submit</button>
																</div>
														</form>

						</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="also-sec">
			<h2 class="text-center color-red font-roboto text-head ft-40 text-up">Also View</h2>
			<div class="row">
				<div class="col-md-6 pd0 col-sm-6">
					<div class="special-films img-animated" ui-sref="speciality-film">
						<h3>Speciality Films</h3>
						<img src="img/films.jpg" alt="" class="img-responsive hover-sec">
					</div>
				</div>
				<div class="col-md-6 pd0 col-sm-6">
					<div class="bags-liners img-animated" ui-sref="pof">
						<h3>POF Shrink Films</h3>
						<img src="img/pof.jpg" alt="" class="img-responsive hover-sec">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
