<section>
  <div class="banner">
    <img src="img/certificate/Certifications.jpg" alt="" class="img-resposive width100">
  </div>
</section>
<section class="mt50 certify">
  <div class="container">
    <div class="row mrl-50">
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/ISO 22000 Certificate.pdf"
            rel="cop" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/ISO 22000 Certificate.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/1.jpg" alt="" class="img-responsive">
        <span class="">ISO 22000 Certificate</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/LD_Film-REACH.pdf"
            rel="cop1" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/LD_Film-REACH.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/2.jpg" alt="" class="img-responsive">
        <span>LD_Film-REACH</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/LD_Film-ROHS.pdf"
            rel="cop2" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/LD_Film-ROHS.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/3.jpg" alt="" class="img-responsive">
        <span>LD_Film-ROHS</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/PE-Migration.pdf"
            rel="cop3" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/PE-Migration.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/4.jpg" alt="" class="img-responsive">
        <span>PE-Migration</span></div>
      </a>
      </div>
    </div>
    <div class="row mrl-50">
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/POF-Migration.pdf"
            rel="cop4" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/POF-Migration.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/5.jpg" alt="" class="img-responsive">
        <span>POF-Migration</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/POF MSDS.pdf"
            rel="cop5" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/POF MSDS.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/6.jpg" alt="" class="img-responsive">
        <span>POF MSDS</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/POF-REACH..pdf"
            rel="cop6" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/POF-REACH..pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/7.jpg" alt="" class="img-responsive">
        <span>POF-REACH</span></div>
      </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <!-- <a  fancybox-box href="img/certificate/cert/POF-ROHS.pdf"
            rel="cop7" data-fancybox-type="iframe"> -->
            <a  href="img/certificate/cert/POF-ROHS.pdf"
                target="_blank">
        <div class="certificate-holder"><img src="img/certificate/cert/8.jpg" alt="" class="img-responsive">
        <span>POF-ROHS</span></div>
      </a>
      </div>
    </div>



  </div>
</section>
