  <div class="events hidden-xs">

    <!-- <div class="banner">
    <img src="img/events/events.jpg" alt="" class="img-responsive ban-full">
  </div>
    <div class="container">
    <div class="content-sec">
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>
    </div>
    <div class="events-sec">
      <div class="row">
        <div class="col-md-8 pd0">
          <div class="left-side">
            <img src="img/events/Events_1.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-4 pd0">
    <div class="right-side">
            <div class="event-info text-center">
              <div class="text-sec">
          <h3>LOREM IPSUM IS SIMPLY DUMMY TEXT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <button type="button" class="btn btn-default btn-know">KNOW MORE</button>
              </div>
      </div>
    </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4 pd0">
    <div class="right-side">
            <div class="event-info text-center">
              <div class="text-sec">
          <h3>LOREM IPSUM IS SIMPLY DUMMY TEXT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <button type="button" class="btn btn-default btn-know">KNOW MORE</button>
              </div>
      </div>
    </div>
        </div>
        <div class="col-md-8 pd0">
          <div class="left-side">
            <img src="img/events/Events_2.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 pd0">
          <div class="left-side">
            <img src="img/events/Events_3.jpg" alt="" class="img-responsive">
          </div>
        </div>
        <div class="col-md-4 pd0">
    <div class="right-side">
            <div class="event-info text-center">
              <div class="text-sec">
          <h3>LOREM IPSUM IS SIMPLY DUMMY TEXT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <button type="button" class="btn btn-default btn-know">KNOW MORE</button>
              </div>
      </div>
    </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4 pd0">
    <div class="right-side">
            <div class="event-info text-center">
              <div class="text-sec">
          <h3>LOREM IPSUM IS SIMPLY DUMMY TEXT</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <button type="button" class="btn btn-default btn-know">KNOW MORE</button>
              </div>
      </div>
    </div>
        </div>
        <div class="col-md-8 pd0">
          <div class="left-side">
            <img src="img/events/Events_4.jpg" alt="" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    </div> -->
    </div>
<div class="eve hidden-md hidden-lg hidden-sm">
  <img src="img/mob/Events(1).jpg" alt="" class="img-responsive">
</div>
