<div class="flexible">
  <div class="banner">
  <img src="img/flexible/flexible.jpg" alt="" class="img-responsive ban-full">
  </div>
  <div class="red-sec">
    <div class="container">
      <div class="careers-sec">
<p>A dominant player  in the plastic packaging sector, Alpha has a great selection of products under Flexible packaging. They include Polypropylene (PP) and Polyethylene (PE) Bags and Liners, POF Shrink Films and Speciality Films. The company’s products are used by many industries such as Pharmaceuticals, Textiles, FMCG and Cosmetics. Browse to learn more about Alpha’s range of products and solutions.
</p>
      </div>
    </div>
  </div>
  <div class="petslider">
      <img src="img/black-ribbon.png" alt="" class="img-responsive test-banner hidden-xs">
      <div class="container">
        <div class="row">
          <div class="col-md-6 pd0 col-sm-6">
            <div class="flexible-img">
            <a ui-sref="bags-liners">  <img src="img/flexible/1.jpg" alt="" class="img-responsive"></a>
              <h3>PP/PE Bags &amp; Liners</h3>
            </div>
          </div>
    <div class="col-md-6 pd0 col-sm-6">
            <div class="flexible-img">
      <a ui-sref="pof">  <img src="img/flexible/2.jpg" alt="" class="img-responsive"></a>
        <h3>POF SHRINK FILMS</h3>
      </div>
    </div>
        </div>
        <div class="row">
          <div class="col-md-12 pdt15 pd0">
        <div class="flexible-img">
      <a ui-sref="speciality-film">  <img src="img/flexible/3.jpg" alt="" class="img-responsive"></a>
              <!-- <h3 class="spc-set">SPECIALITY FILMS</h3> -->
        </div>
          </div>
        </div>
      </div>
    </div>

  </div>
