<section>
    <div class="banner">
        <img src="img/news/news.jpg" alt="" class="img-resposive ban-full">
    </div>
</section>
<div class="news">
    <div class="container">
        <div class="content-sec">
            <!-- <div class="category text-center">
  <div class="category-selection text-center">
    <span class="only-border"></span>
    <select class="selectpicker">
      <option disabled selected>Choose Category</option>
      <option>Mustard</option>
      <option>Ketchup</option>
      <option>Relish</option>
    </select>
  </div>
  <div class="category-selection text-center">
    <span class="only-border"></span>
    <select class="selectpicker">
      <option disabled selected>Year</option>
      <option>2001</option>
      <option>2002</option>
      <option>2003</option>
    </select>
  </div>
</div> -->
            <div class="row">
              <div class="col-md-6">
                  <div class="news-sec">
                      <div class="news-img">
                          <img src="img/news/1027x553/6.jpg" alt="" class="img-responsive">
                          <div class="date-sec">
                              <span>January 2017</span>
                          </div>
                      </div>
                      <h4>Packaging Trends in 2017</h4>
                      <p>India ended 2016 with a bang, with the government banning old high-value currency notes to curb black economy. The knock-on effect of that was a sudden slowdown in demand across all industries as the common man struggled to make ends meet due to limited availability of cash. It has been over two months since the shock move by the Modi government and it looks like the market is returning to ‘business-as-usual’.
                      </p>
                      <button type="button" class="btn btn-default" ui-sref="news-detail({id:'8'})">Read more</button>
                  </div>
              </div>


                <div class="col-md-6">
                    <div class="news-sec">
                        <div class="news-img">
                            <img src="img/news/8.jpg" alt="" class="img-responsive">
                            <div class="date-sec">
                                <span>January 2017</span>
                            </div>
                        </div>
                        <h4>POF Shrink Films - A must for the Indian market</h4>
                        <p>Wastage of fruits and vegetables are a real concern for a country like India where not only do we have to feed an ever growing population but also because over 16% of GDP is dependent on agriculture.
                        </p>

                        <a ui-sref="news-detail({id:'7'})"><button type="button" class="btn btn-default">Read more</button></a>
                    </div>
                </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                  <div class="news-sec">
                      <div class="news-img">
                          <img src="img/news/1.jpg" alt="" class="img-responsive">
                          <div class="date-sec">
                              <span>September 2016</span>
                          </div>
                      </div>
                      <h4>Meet Alpha’s Plastic Super Family in Mexico!</h4>
                      <p>The packaging industry as a whole is very boring. Because it is predominantly in the B2B sector, the scope for experimenting is less. Majority of the companies have named their products based on their scientific qualities, which
                          makes them difficult to remember.
                      </p>
                      <a ui-sref="news-detail({id:'1'})"><button type="button" class="btn btn-default">Read more</button></a>
                  </div>
              </div>
                <div class="col-md-6">
                    <div class="news-sec">
                        <div class="news-img">
                            <img src="img/news/1027x553/3.jpg" alt="" class="img-responsive">
                            <div class="date-sec">
                                <span>May 2016</span>
                            </div>
                        </div>
                        <h4>A major stride for Alpha at the Expo Pack Mexico</h4>
                        <p>Alpha Plastomers is participating in Expo Pack – a 4-day event being held in Santa Fe in Mexico City, Mexico from 17th to 20th May, 2016. International exhibitors in the packaging industry will present the latest machinery, materials,
                            components, containers, and proven solutions for the processing, packaging, storage and distribution of products.
                        </p>
                        <button type="button" class="btn btn-default" ui-sref="news-detail({id:'2'})">Read more</button>
                    </div>
                </div>

            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="news-sec">
                      <div class="news-img">
                          <img src="img/news/777x418/4.jpg" alt="" class="img-responsive">
                          <div class="date-sec">
                              <span>November 2015</span>
                          </div>
                      </div>
                      <h4>First Annual Meet</h4>
                      <p>Alpha Plastomers held its first annual meet right before Diwali. During the two days, everything from cost control to business strategies were discussed.
                      </p>
                      <button type="button" class="btn btn-default" ui-sref="news-detail({id:'4'})">Read more</button>
                  </div>
              </div>
                <div class="col-md-6">
                    <div class="news-sec">
                        <div class="news-img">
                            <img src="img/news/777x418/1.jpg" alt="" class="img-responsive">
                            <div class="date-sec">
                                <span>October 2015</span>
                            </div>
                        </div>
                        <h4>Alpha enters North American market</h4>
                        <p>Alpha is delighted to announce its presence in USA. A very relieved Akshay Agarwal, Director of Alpha Plastomers, said “After months of back-and-forth negotiations, we were able to come to an agreement with our USA counterparts
                            allowing us to move closer to our customers and allowing our customers to reduce inventory and transit days.”
                        </p>
                        <button type="button" class="btn btn-default" ui-sref="news-detail({id:'5'})">Read more</button>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="news-sec">
                        <div class="news-img">
                            <img src="img/news/777x418/2.jpg" alt="" class="img-responsive">
                            <div class="date-sec">
                                <span>February 2015</span>
                            </div>
                        </div>
                        <h4>Alpha Pharma Roorkee commissions ASB Nissei 12M machine</h4>
                        <p>Alpha cements its presence in Rigid packaging industry by adding ASB Nissei 12M to allow greater flexibility in its product offerings. With the new addition, Alpha has taken its first step in what will be a steady increase in capacity
                            to tailor to Pharmaceutical and FMCG industries.

                        </p>
                        <button type="button" class="btn btn-default" ui-sref="news-detail({id:'3'})">Read more</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="news-sec">
                        <div class="news-img">
                            <img src="img/news/777x418/5.jpg" alt="" class="img-responsive">
                            <div class="date-sec">
                                <span>October 2015</span>
                            </div>
                        </div>
                        <h4>Alpha commissions Rajoo 3-Layer Multifold line</h4>
                        <p>Over the past 27 years, Alpha has shown that it is not afraid to add new products to its portfolio to stay as one of the leading packaging suppliers in India. With the addition of a 3-layer blown film line, Alpha has moved the
                            goal post yet again and is perfectly poised to become a true “global corporation”. With Rajoo’s 3-Layer Multifold line, Alpha will be adding Collation shrink film (also known as LD shrink film), stretch film, and “milk pouch”
                            film. Please contact your sales representative to learn more about Alpha’s new product offerings.

                        </p>
                        <button type="button" class="btn btn-default" ui-sref="news-detail({id:'6'})">Read more</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
