<div class="pof">

  <div class="banner">
    <img src="img/pof/pof.jpg" alt="" class="img-responsive ban-full">
    <!-- <img src="img/banner-ribbon.png" alt="" class="img-responsive banner-rib hidden-xs"> -->
  </div>
  <div class="red-sec">
    <div class="container">
      <div class="careers-sec">
        <p>Our Safe and Secure<span>&trade;</span> Shrink Films protect the content inside the packaging from dust and moisture. They are highly
          cost effective, have sheen and are transparent.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slider-sec pdb20">
      <div class="application-slider pd40">
        <h2 class="text-up font-revelution text-head color-red text-center ft-40">APPLICATIONS</h2>
        <flex-slider flex-slide="item in flexapplication track by $index" animation="slide" item-margin="40" animationloop="true"
          item-width="100">
          <li>
            <div class="app-img text-center">
              <img ng-src="{{item.image}} " alt=" " class="app-icons">
              <p>{{item.desc}}</p>
            </div>
          </li>
        </flex-slider>
      </div>
      <div class="options-sec text-center">
        <h2 class="text-up font-revelution text-head color-red text-center pdb10 ft-40">OPTIONS</h2>
        <div class="option-block">
          <img src="img/pof/11.png" alt="" class="img-responsive">
          <p>6 Color Printing</p>
        </div>
        <div class="option-block">
          <img src="img/pof/10.png" alt="" class="img-responsive">
          <p>Micro/Macro Perforations</p>
        </div>
        <div class="option-block">
          <img src="img/pof/9.png" alt="" class="img-responsive">
          <p>Pouches</p>
        </div>
        <div class="option-block">
          <img src="img/pof/8.png" alt="" class="img-responsive">
          <p>Sleeves</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-sec">
    <img src="img/black-ribbon.png" alt="" class="img-responsive table-in hidden-xs">
    <div class="container">
      <div class="row pd100">
        <div class="col-md-4">
          <h2 class="text-up font-revelution text-head text-center ft-40">AVAILABLE SIZES</h2>
          <table class="table table-bordered size-table">
            <thead class="thead-default">
              <tr>

                <th>Microns</th>
                <th>Length(MTS.)</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>12</td>
                <td>1665</td>
              </tr>
              <tr>

                <td>15</td>
                <td>1332</td>
              </tr>
              <tr>

                <td>19</td>
                <td>1067</td>
              </tr>
              <tr>

                <td>25</td>
                <td>800</td>
              </tr>
              <tr>

                <td>30</td>
                <td>400</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-8 pdl20">
          <h2 class="text-up font-revelution text-head ft-40 text-center">Technical Specifications</h2>

  <!-- star -->
  <!-- <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span> -->
<!-- star end -->

  <table class="table table-bordered size-table table-2">
    <thead class="thead-default">
      <tr>

        <th></th>
        <th>NSF</th>
        <th>SSF</th>
        <th>HPSF</th>

      </tr>
    </thead>
    <tbody>
      <tr>

        <td>Tensile/Elongation</td>
        <td>
          <span uib-rating ng-model="rate3" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate5" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>

      </tr>
      <tr>

        <td>Tear Strength</td>
        <td>
          <span uib-rating ng-model="rate3" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate5" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>

      </tr>
      <tr>

        <td>Seal Strength</td>
        <td>
          <span uib-rating ng-model="rate3" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate5" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>

      </tr>
      <tr>

        <td>Dart</td>
        <td>
          <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate3" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>
        <td>
          <span uib-rating ng-model="rate5" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
        </td>

      </tr>
      <tr>
     <td>Optics</td>
     <td>
       <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>
     <td>
       <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>
     <td>
       <span uib-rating ng-model="rate5" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>

      </tr>
      <tr>
     <td>Shrinkage</td>
     <td>
       <span uib-rating ng-model="rate3" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>
     <td>
       <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>
     <td>
       <span uib-rating ng-model="rate4" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></span>
     </td>

      </tr>
    </tbody>
  </table>
  <a href="img/pof/pofspec.pdf" target="_blank">        <div class="spec">
      <div class="pdf">
        <img src="img/pdf-red.png" alt="" class="img-responsive">
      </div>
      <div class="pdf-desc">
        <span>Standard Film Specification</span>
      </div>


  </div></a>

          <!-- <div class="spec">
        <div class="pdf">
              <img src="img/pdf-red.png" alt="" class="img-responsive">
        </div>
          <div class="pdf-desc">
              <span>Alpha Group Normal vs High Performance POF Shrink Film (Ver. 2)</span>
          </div>
          </div>
          <div class="spec">
            <div class="pdf">
              <img src="img/pdf-red.png" alt="" class="img-responsive">
            </div>
          <div class="pdf-desc">
              <span>Alpha Group POF Specification (Ver. 2)</span>
          </div>
          </div>
          <div class="spec">
            <div class="pdf">
              <img src="img/pdf-red.png" alt="" class="img-responsive">
            </div>
          <div class="pdf-desc">
              <span>Alpha Plastomers POF-Soft Specification</span>
          </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <div class="petslider">
    <div class="container">
      <div class="gallery-holder pd-41">
        <h2 class="text-center text-up font-revelution text-head ft-40">GALLERY</h2>
        <div class="gal">
          <div class="slider1 hidden-xs">
            <flex-slider  class="carousel" flex-slide="item in imageslider track by $index" animation="slide"  sync="#carousel" slider-id="slider" slideshow="false">
                <li>
                    <img ng-src="{{item.image}}" alt="" >
                </li>
            </flex-slider>
          </div>
<!-- mobileslider -->
          <div class="slider1 visible-xs">

              <flex-slider flex-slide="item in imageslider track by $index" animation="slide" animationloop="true" slideshow-Speed="3000">
                <li>
                    <img ng-src="{{item.image}}" alt="">
                </li>
            </flex-slider>
          </div>

          <div class="text-center pdt10 visible-xs visible-sm">
              <a href="img/pdf/POF shrink film.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure btn-part1 text-up">Download Brochure</button></a>
          </div>
<!-- carousel -->
            <div class="slider2 hidden-xs">
    <flex-slider class="carousel" flex-slide="item in imagethumb track by $index" animation="slide" item-width="228" item-margin="5" move="1" slideshow-speed=1000 direction-nav="false" control-nav="false" as-nav-for="#slider" slider-id="carousel">
                <li>
                  <div class="img-animated">
                    <img ng-src="{{item.image}}" alt="" class="hover-sec">
                  </div>
                </li>
            </flex-slider>

</div>
        </div>
      </div>
    </div>
  </div>
  <div class="testimonial-sec">
    <img src="img/black-ribbon1.png" alt="" class="img-responsive test-banner hidden-xs">
    <div class="container">
      <div class="profile-desc">
        <img src="img/comma.png" alt="" class="img-responsive test-comma hidden-xs">
        <h2 class="text-center text-up font-revelution text-head color-red ft-40">TESTIMONIALS</h2>
      	<flex-slider flex-slide="item in flexprofile track by $index"  item-margin="0" slideshow= "false">
          <li>
            <div class="row pd100">
              <div class="col-md-3">
                <div class="profile-img">
                  <img ng-src="{{item.image}} " alt=" " class="img-responsive ">
                </div>
              </div>
              <div class="col-md-8">
                <div class="profile-box">
                  <div class="profile-info">
                    <p>{{item.desc}}</p>
                    <h4>{{item.name}}</h4>
                    <p class="company">{{item.company}}</p>
                    <p class="location">{{item.location}}</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </flex-slider>
      </div>
    </div>
  </div>
  <div class="enquiry-form">
<a href="img/pdf/POF shrink film.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure hidden-xs">Download Brochure</button></a>
    <div class="container">
      <div class="enquiry-sec text-center pdt-40">
        <h2 class="text-up font-revelution text-head color-red ft-40">ENQUIRE NOW</h2>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <form class="form-sec" ng-submit="sendEmail(contactus);">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <input type="text" class="form-control" ng-model="contactus.name" id="name" placeholder="Enter Name" ng-pattern="/^[a-zA-Z\s]*$/"
aplha-only   required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4  col-md-offset-2">
                                        <div class="form-group">
                                            <input type="email" class="form-control" ng-model="contactus.email" id="email" placeholder="Enter Email" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="tel" class="form-control"  id="mobile" ng-model="contactus.mobile" placeholder="Mobile Number" minlength="10" maxlength="10"  only-digits required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-md-offset-2 col-xs-12 col-pd">
                                        <div class="form-group" >
                                            <div class="radio rad-sec">
                                                <label class="pull-left"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'PP/PE Liners'" name="optradio" class="" required>PP/PE Liners</label>
                                                <label class="pull-right lbl2"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'POF Shrink Film'" name="optradio" class="" required>POF Shrink Film</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-xs-12 col-pd">
                                        <div class="form-group">
                                            <div class="radio rad-sec">
                                                <label class="pull-left"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'PET Bottles'" name="optradio" class="" required>PET Bottles</label>
                                                <label class="pull-right lbl2"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'Speciality Films'" name="optradio" class="" required>Speciality Films</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <div class="form-group">
                                            <input type="text-area" ng-model="contactus.message" class="form-control" id="message" placeholder="Message" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="submit-sec text-center">
                                    <button type="submit" class="btn btn-default sub-btn" >Submit</button>
                                </div>
                            </form>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="also-sec">
      <h2 class="text-center color-red font-roboto text-head ft-40 text-up">Also View</h2>
      <div class="row">
        <div class="col-md-6 pd0 col-sm-6">
          <div class="special-films img-animated" ui-sref="speciality-film">
            <h3>Speciality Films</h3>
            <img src="img/films.jpg" alt="" class="img-responsive hover-sec">
          </div>
        </div>
        <div class="col-md-6 pd0 col-sm-6">
          <div class="bags-liners img-animated" ui-sref="bags-liners">
            <h3>PP/PE Bags and Liners</h3>
            <img src="img/ppe.jpg" alt="" class="img-responsive hover-sec">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
