<div class="speciality-film">
    <div class="banner">
        <img src="img/films/films.jpg" alt="" class="img-responsive banfull widht100">
        <!-- <img src="img/banner-ribbon.png" alt="" class="img-responsive banner-rib hidden-xs"> -->
    </div>


    <div class="red-sec">
        <div class="container">
            <div class="careers-sec">
                <p>Under Speciality Film, Alpha offers two products, Prevent &amp; Protect <span>&trade;</span> (Collation Shrink Film) and Support &amp; Safeguard <span>&trade;</span> (Agricultural Mulch Film). Both these products are an extension
                    of Alpha’s core strength in packaging and providing innovative solutions to add value across the supply chain.
                </p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="products-sec text-center black-sec">
            <h2 class="text-up font-revelution text-head color-red">Our Range of Products</h2>
            <div class="option-block">
                <img src="img/films/1.png" alt="" class="img-responsive">
                <p>Collation Shrink Film</p>
            </div>
            <!-- <div class="option-block">
                <img src="img/films/2.png" alt="" class="img-responsive">
                <p>Milk pouches</p>
            </div> -->
            <div class="option-block">
                <img src="img/films/3.png" alt="" class="img-responsive">
                <p>Agricultural Mulch Film</p>
            </div>
            <!-- <div class="option-block">
                <img src="img/films/4.png" alt="" class="img-responsive">
                <p>Embossed film</p>
            </div> -->
        </div>
    </div>
    <div class="petslider">
        <img src="img/black-ribbon.png" alt="" class="img-responsive test-banner hidden-xs">
        <div class="container">
            <div class="gallery-holder pd-41">
                <!-- <h2 class="text-center text-up font-revelution text-head color-red">GALLERY</h2> -->
                <div class="select-sec text-center">
<button type="button" class="btn btn-default text-center text-up font-revelution text-head color-red hidden-xs" ng-click="tab = 1" ng-class="{'active':tab == 1}">
  Collation Shrink Film
  </button>

  <!-- mobile -->
<div class="row visible-xs mobile-select">
    <div class="col-xs-6 bdr-sec">
      <button type="button" class="btn btn-default text-center text-up font-revelution text-head color-red" ng-click="tab = 1" ng-class="{'active':tab == 1}">
    <span>    Collation</span>
      <span>   Shrink Film</span>
        </button>
    </div>OUR RANGE OF PRODUCTS

    <div class="col-xs-6">
      <button type="button" class="btn btn-default text-center text-up font-revelution text-head color-red" ng-click="tab = 2" ng-class="{'active':tab == 2}">
<span>Agricultural</span><span> Mulch Film</span>
</button>
    </div>
  </div>

  <!-- mobile-end -->
   <span class="btn-separator hidden-xs"></span>
                    <button type="button" class="btn btn-default text-center text-up font-revelution text-head color-red hidden-xs" ng-click="tab = 2" ng-class="{'active':tab == 2}">
  Agricultural Mulch Film
  </button>

                </div>
                <div class="gal">
                    <div class="slider1 hidden-xs">
                        <flex-slider flex-slide="item in imageslider track by $index" animation="slide" move="1" slideshowSpeed=1000 sync="#carousel" slider-id="slider" ng-if="tab == 1"  slideshow="false">
                            <li>
                                <img ng-src="{{item.image}}" alt="">
                            </li>
                        </flex-slider>
                    </div>
                    <!-- mobile-slider -->
                    <div class="slider1 visible-xs">
    <flex-slider flex-slide="item in imageslider track by $index" animation="slide" animationloop="true" ng-if="tab == 1" slideshow-Speed="3000">
                          <li>
                              <img ng-src="{{item.image}}" alt="">
                          </li>
                      </flex-slider>
                    </div>

                    <div class="slider2 hidden-xs">


                        <flex-slider flex-slide="item in imagethumb track by $index" animation="slide" item-width="228" item-margin="5" animationloop="true" move="1" slideshowSpeed=1000 direction-Nav="false" control-Nav="false" as-Nav-For="#slider" slider-id="carousel"  ng-if="tab == 1">
                            <li>
                                <img ng-src="{{item.image}}" alt="">
                            </li>
                        </flex-slider>

                    </div>
                    <div class="text-center pdt10" ng-if="tab ==1">
                        <a href="img/pdf/Collation shrink film.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure btn-part1 text-up" ng-if="tab == 1">Download Brochure</button></a>
                    </div>

<!-- slider2 -->
<!-- carousel -->
<div class="slider1 hidden-xs">
    <flex-slider flex-slide="item in imageslider2 track by $index" animation="slide"  animationloop="true" move="1" slideshowSpeed=1000 sync="#carousel2" slider-id="slider2" ng-if="tab == 2"  slideshow="false">
        <li>
            <img ng-src="{{item.image}}" alt="">
        </li>
    </flex-slider>
</div>
<!-- mobileslider -->
<div class="slider1 visible-xs">
<flex-slider flex-slide="item in imageslider2 track by $index" animation="slide" animationloop="true" ng-if="tab == 2" slideshow-Speed="3000">
      <li>
          <img ng-src="{{item.image}}" alt="">
      </li>
  </flex-slider>
</div>
<!-- carousel -->
<div class="slider2 hidden-xs">
  <flex-slider flex-slide="item in imagethumb2 track by $index" animation="slide" item-width="228" item-margin="5" move="1" slideshowSpeed=1000 direction-Nav="false" control-Nav="false" as-Nav-For="#slider2" slider-id="carousel2" ng-if="tab == 2" slideshow="true">
        <li>
            <img ng-src="{{item.image}}" alt="">
        </li>
    </flex-slider>

</div>
<div class="text-center pdt10" ng-if="tab ==2">
    <a href="img/pdf/Mulch film.pdf" target="_blank"><button type="button" class="btn btn-default btn-brochure btn-part1 text-up" ng-if="tab == 2">Download Brochure</button></a>
</div>

                </div>


            </div>
        </div>
    </div>

    <div class="testimonial-sec">
        <img src="img/black-ribbon1.png" alt="" class="img-responsive test-banner hidden-xs">
        <div class="container">
            <div class="profile-desc">
                <img src="img/comma.png" alt="" class="img-responsive test-comma hidden-xs">
                <h2 class="text-center text-up font-revelution text-head color-red">TESTIMONIALS</h2>
      	<flex-slider flex-slide="item in flexprofile track by $index"  item-margin="0" slideshow= "false">
                    <li>
                        <div class="row pd100">
                            <div class="col-md-3">
                                <div class="profile-img">
                                    <img ng-src="{{item.image}} " alt=" " class="img-responsive ">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="profile-box">
                                    <div class="profile-info">
                                        <p>{{item.desc}}</p>
                                        <h4>{{item.name}}</h4>
                                        <p class="company">{{item.company}}</p>
                                        <p class="location">{{item.location}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </flex-slider>
            </div>
        </div>
    </div>

    <div class="enquiry-form">
        <!-- <button type="button" class="btn btn-default btn-brochure hidden-xs">Download Brochure</button> -->
        <div class="container">
            <div class="enquiry-sec text-center pdt-40">
                <h2 class="text-up font-revelution text-head color-red ft-40">ENQUIRE NOW</h2>

                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <form class="form-sec" ng-submit="sendEmail(contactus);">
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" ng-model="contactus.name" id="name" placeholder="Enter Name" aplha-only required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4  col-md-offset-2">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" ng-model="contactus.email" id="email" placeholder="Enter Email" required>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <input type="tel" class="form-control"  id="mobile" ng-model="contactus.mobile" placeholder="Mobile Number" minlength="10" maxlength="10"  only-digits required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-2 col-xs-12 col-pd">
                                                <div class="form-group" >
                                                    <div class="radio rad-sec">
                                                        <label class="pull-left"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'PP/PE Liners'" name="optradio" class="" required>PP/PE Liners</label>
                                                        <label class="pull-right lbl2"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'POF Shrink Film'" name="optradio" class="" required>POF Shrink Film</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-xs-12 col-pd">
                                                <div class="form-group">
                                                    <div class="radio rad-sec">
                                                        <label class="pull-left"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'PET Bottles'" name="optradio" class="" required>PET Bottles</label>
                                                        <label class="pull-right lbl2"><input type="radio" ng-model="contactus.enquiryFor" ng-value="'Speciality Films'" name="optradio" class="" required>Speciality Films</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8 col-md-offset-2">
                                                <div class="form-group">
                                                    <input type="text-area" ng-model="contactus.message" class="form-control" id="message" placeholder="Message" required>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="submit-sec text-center">
                                            <button type="submit" class="btn btn-default sub-btn" >Submit</button>
                                        </div>
                                    </form>                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="also-sec">

            <h2 class="text-center color-red text-head text-up ft-40 font-roboto">Also View</h2>
            <div class="row">
                <div class="col-md-6 pd0 col-sm-6">
                    <div class="special-films pdb10 img-animated" ui-sref="pof">
                        <img src="img/pof.jpg" alt="" class="img-responsive hover-sec">
                        <h3>POF Shrink Films</h3>
                    </div>
                </div>
                <div class="col-md-6 pd0 col-sm-6">
                    <div class="bags-liners pdb10 img-animated" ui-sref="bags-liners">
                        <img src="img/ppe.jpg" alt="" class="img-responsive hover-sec">
                        <h3>PP/PE Bags and Liners</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
